annotated-types==0.7.0
appdirs==1.4.4
asgiref==3.7.2
attrs==23.2.1.dev0
autocommand==2.2.2
Automat==22.10.0
beautifulsoup4==4.12.3
Brotli==1.1.0
CacheControl==0.14.0
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
constantly==23.10.0
coverage==7.5.1
cryptography==42.0.6
cssselect==1.2.0
cssselect2==0.7.0
dbus-python==1.3.2
distlib==0.3.8
distro==1.9.0
Django==4.2.11
evdev==1.7.0
fastjsonschema==2.19.1
filelock==3.13.3
fonttools==4.53.0
html5lib==1.1
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
inflect==7.2.1
itemadapter==0.8.0
itemloaders==1.2.0
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
Jinja2==3.1.4
jmespath==1.0.1
lensfun==0.3.4
lit==17.0.6.dev0
lockfile==0.12.2
lxml==5.2.2
MarkupSafe==2.1.5
meson==1.4.1
moddb==0.11.0
more-itertools==10.2.0
msgpack==1.0.5
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
parsel==1.8.1
pillow==10.3.0
platformdirs==4.2.0
ply==3.11
Protego==0.3.1
psutil==5.9.8
pwquality==1.4.5
pyasn1==0.5.1
pyasn1_modules==0.3.0
pybind11==2.12.0
pycairo==1.26.0
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
PyDispatcher==2.0.7
pydyf==0.10.0
PyGObject==3.48.2
PyOpenGL==3.1.7
pyOpenSSL==24.1.0
pyphen==0.15.0
pyrate-limiter==3.6.0
pyserial==3.5
PySide6==6.7.1
python-dateutil==2.9.0
python-xlib==0.33
pytz==2024.1
pyudev==0.24.1
PyYAML==6.0.1
queuelib==1.7.0
requests==2.32.3
requests-file==1.5.1
scour==0.38.2
Scrapy==2.11.1
service-identity==23.1.0
setuptools==69.0.3
shiboken6==6.7.1
shiboken6-generator==6.7.1
six==1.16.0
solaar==1.1.13
soupsieve==2.5
sqlparse==0.4.4
TBB==0.2
tinycss2==1.3.0
tldextract==5.1.2
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.2
trove-classifiers==2024.5.23
Twisted==24.3.0
typeguard==4.2.1
typing_extensions==4.12.2
urllib3==1.26.18
validate-pyproject==0.16
virtualenv==20.26.2
w3lib==2.1.2
weasyprint==62.2
webencodings==0.5.1
wheel==0.43.0
yt-dlp==2024.5.27
zope.interface==6.3
zopfli==0.2.3
zstandard==0.22.0
