[Unit]
Description=Radarr Trim Script

Wants=network-online.target
After=network-online.target

[Service]
User=retrontology
Group=retrontology

ExecStart=/usr/bin/python3.10 /home/retrontology/git/radarrtrim/run.py

[Install]
WantedBy=multi-user.target
